.productImages {
  margin: 20px auto 5px 10px;
}

.panel blockquote {
  font-size: 16px;
}
.panel blockquote b {
  font-size: 20px;
}
.panel .reviewFormDiv {
  width: 560px;
  border: solid 1px lightblue;
  border-radius: 20px;
  padding: 15px;
}
.panel .reviewFormDiv form .ng-invalid .ng-dirty {
  border-color: #FA787E;
}
.panel .reviewFormDiv form .ng-valid .ng-dirty {
  border-color: #78FA89;
}
.panel .reviewFormDiv form input .ng-invalid {
  background-color: lightpink;
}
