<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="/css/app.css" media="screen, projection" rel="stylesheet" type="text/css" />

	<!-- Javascript libs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"> </script>
	<script type="text/javascript" src="/js/app.js"></script>
	<title>Gem Store</title>
</head>
<body ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products">
			<h3>
				 {{product.name}} 
				 <em class="pull-right"> {{product.price|currency}} </em>
				 <div class="productImages">
				 	<img ng-src="{{product.images[0].src}}" />
				 	<img ng-src="{{product.images[1].src}}" />
				 </div>
			</h3>
			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{ active:panel.isSelected(1) }"><a href="" ng-click="panel.selectTab(1)">產品說明</a></li>
					<li ng-class="{ active:panel.isSelected(2) }"><a href="" ng-click="panel.selectTab(2)">產品規格</a></li>
					<li ng-class="{ active:panel.isSelected(3) }"><a href="" ng-click="panel.selectTab(3)">顧客心得</a></li>
				</ul>
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>產品說明</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>產品規格</h4>
					<p>Not yet</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>顧客心得</h4>
					<blockquote ng-repeat="review in product.reviews">
						<b>評價: {{review.stars}}</b><br/>
						{{review.body}} - 
						<cite>by: {{review.author}}</cite>
					</blockquote>
					<div class="reviewFormDiv">
						<form id="reviewForm{{$index}}" name="reviewForm" 
							  ng-controller="ReviewController as reviewCtrl" 
							  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
							<blockquote>
								<b>評價: {{reviewCtrl.review.stars}}</b><br/>
								{{reviewCtrl.review.body}} - 
								<cite>by: {{reviewCtrl.review.author}}</cite>
							</blockquote>
							<div class="form-group">
								<label>評價</label>
								<select name="stars" class="form-control" ng-model="reviewCtrl.review.stars" required>
									<option value="1">1 star</option> 
									<option value="2">2 stars</option> 
									<option value="3">3 stars</option> 
									<option value="4">4 stars</option> 
									<option value="5">5 stars</option> 
								</select>
							</div>

							<div class="form-group">
								<label>心得</label>
								<textarea name="body" class="form-control" ng-model="reviewCtrl.review.body" required placeholder="輸入使用心得"></textarea>
							</div>

							<div class="form-group">
								<label>by</label>
								<input name="author" type="email" class="form-control" ng-model="reviewCtrl.review.author" required placeholder="輸入E-mail" />
							</div>
							
							<div ng-show="reviewForm.$dirty && reviewForm.$invalid">資料輸入有錯誤，請重新檢視。</div>

							<input type="submit" value="Submit" class="btn btn-default" 
								   ng-disabled="reviewForm.$invalid" /> 
							<!--
							<code>
								<br/>
								reviewForm.stars.$error.required: {{reviewForm.stars.$error.required}} <br/>
								reviewForm.body.$error.required: {{reviewForm.body.$error.required}} <br/>
								reviewForm.author.$error.required: {{reviewForm.author.$error.required}} <br/>
								reviewForm.$pristine: {{reviewForm.$pristine}} <br/>
								reviewForm.$dirty: {{reviewForm.$dirty}} <br/>
							</code>
							-->
						</form>
					</div>
				</div>
			</section>
			<!--
			<p> {{product.description}} </p>
			<button ng-show="product.canPurchase"> Add to Cart </button>
			-->
		</li>
	</ul>
</body>
</html>