<form name="reviewForm" 
	  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
	<blockquote>
		<b>評價: {{reviewCtrl.review.stars}}</b><br/>
		{{reviewCtrl.review.body}} - 
		<cite>by: {{reviewCtrl.review.author}}</cite>
	</blockquote>
	<div class="form-group">
		<label>評價</label>
		<select name="stars" class="form-control" ng-model="reviewCtrl.review.stars" required>
			<option value="1">1 star</option> 
			<option value="2">2 stars</option> 
			<option value="3">3 stars</option> 
			<option value="4">4 stars</option> 
			<option value="5">5 stars</option> 
		</select>
	</div>

	<div class="form-group">
		<label>心得</label>
		<textarea name="body" class="form-control" ng-model="reviewCtrl.review.body" required placeholder="輸入使用心得"></textarea>
	</div>

	<div class="form-group">
		<label>by</label>
		<input name="author" type="email" class="form-control" ng-model="reviewCtrl.review.author" required placeholder="輸入E-mail" />
	</div>

	<div ng-show="reviewForm.$dirty && reviewForm.$invalid">資料輸入有錯誤，請重新檢視。</div>

	<input type="submit" value="Submit" class="btn btn-default" 
		   ng-disabled="reviewForm.$invalid" /> 
</form>